<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Dsort</title>
</head>
<body>
<h2>
    <center><p>Hello</p></center>
</h2>
<center>You are Dsort client.</center>
<br>

<br>


<center>
    <button class="btn btn-primary" id="connectButton" onclick="connect()">Connect</button>
</center>
<center>
    <button class="btn btn-primary" id="disconnectButton" style="display: none;" onclick="disconnect()">Disconnect
    </button>
</center>

<br>
<center>Current chunk size:</center>
<center><p id="chunkSize"></p></center>
<center>Sorted chunks counter:</center>
<center><p id="chunkCount"></p></center>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<script src="../../js/binarySortingClient.js"></script>


</body>
</html>
