<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>DSort</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>{{name}}(<span id="id">{{id}}</span>)</h1>
                    <div>
                        <p>Client count: <span id="clientCount">{{clientCount}}</span></p>
                        <p>Array size: {{size}}</p>
                        <p>Status: <span id="jobStatus">{{phase}}</span></p>
                        <div class="progress">
                            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">{{progress}}%</div>
                        </div>
                        
                        <form action="/admin/jobs/download/{{id}}/zip" method="GET" role="form">
                            <input id="downloadButton" type="submit" class="btn btn-success" value="Download" 
                            {{^isFinished}}
                                disabled
                            {{/isFinished}}
                        />
                    </form>
                    </div>
                    <hr>

                    <h4>Upload new data</h4>

                    <form class="input-group" id="newDataForm" role="form" method="POST" action="/admin/jobs/update/{{id}}" enctype="multipart/form-data">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="dataFile" id="dataFile" accept=".csv, .txt, .zip, .gz" required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" form="newDataForm">Upload</button>
                        </div>
                    </form>

                    <hr>
                    <form style ='float: left; padding: 5px;' action="/admin/jobs" method="GET" role="form">
                        <input type="submit" class="btn btn-info" value="Back"/>
                    </form>
                    <form id="runForm" style ='float: left; padding: 5px;'  method="GET" role="form">
                        <input id="runFormInput" type="submit" class="btn btn-success" value="Run"
                        {{#isRunning}}
                            disabled
                        {{/isRunning}}
                        {{#isChunking}}
                            disabled
                        {{/isChunking}}
                        />
                    </form>
                    <form id="pauseForm" style ='float: left; padding: 5px;' method="GET" role="form">
                        <input id="pauseFormInput" type="submit" class="btn btn-light" value="Pause"
                        {{^isRunning}}
                            disabled
                        {{/isRunning}}
                        />
                    </form>
                    <form id="stopForm" style ='float: left; padding: 5px;' method="GET" role="form">
                        <input id="stopFormInput" type="submit" class="btn btn-light" value="Stop"
                        {{^isStarted}}
                            disabled
                        {{/isStarted}}
                        />
                    </form>
                    <form style ='float: left; padding: 5px;' action="/admin/jobs/remove/{{id}}" method="GET" role="form">
                        <input id="deleteFormInput" type="submit" class="btn btn-danger" value="Delete"
                        {{#isRunning}}
                            disabled    
                        {{/isRunning}}
                        {{#isStarted}}
                            disabled    
                        {{/isStarted}}
                        />
                    </form>
                    {{#isRunning}}
                        <p></p>
                    {{/isRunning}}
                </div>
                <div id="logDiv" class="col-4 border-left" style="overflow-y: scroll; height:700px;">
                    <h1>Log</h1>
                    <ul id="logList" class="list-group">
                    </ul>
                </div>
            </div>
        </div>

        <script src="../../js/jquery-3.3.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>

        <script src="../../js/job.js"></script>
    </body>
</html>