<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>DSort</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="../../css/bootstrap.min.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h1>All Jobs</h1>

            <div class="modal fade" id="modalAddNewJobForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">New Job</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body mx-3">

                            <form id="newJobForm" role="form" method="POST" action="/admin/jobs" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="control-label">Job Name</label>
                                    <div>
                                        <input type="text" name="name" id="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Data</label>
                                    <div>
                                        <input type="file" name="dataFile" id="dataFile" accept=".csv, .txt, .zip, .gz">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-default" type="submit" form="newJobForm">Create</button>
                        </div>
                    </div>
                </div>
            </div>

            <p>Total client count: <span id="totalClientCount">{{totalClientCount}}</span></p>

            <div class="text-center">
                <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalAddNewJobForm">Create new Job</a>
            </div>

            
            <div class="row border">
                <div class="col"> 
                    <b>Id</b>
                </div>
                <div class="col">
                    <b>Name</b>
                </div>
                <div class="col">
                    <b>Status</b>
                </div>
            </div>

            <div class="row border">
                <div id="ids" class="col">
                    {{#ids}}
                        <p><span id="id_{{.}}"><a href="/admin/jobs/{{.}}">#{{.}}</a></span></p>
                    {{/ids}}
                </div>
                <div id="names" class="col">
                    {{#names}}
                        <p><span>{{.}}</span></p>
                    {{/names}}
                </div>
                <div id="phases" class="col">
                    {{#statuses}}
                        <p><span>{{.}}</span></p>
                    {{/statuses}}
                </div>
            </div>

            <!--
            <table class="table table-hover table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Connections</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#ids}}
                <tr>
                    <th scope="row">{{.}}</th>
                    <td><a href="/admin/jobs/{{.}}"> Job #{{.}}</td></a>
                    <td>74</td>
                    <td>OK</td>
                </tr>                                                                                                                                                           
                {{/ids}}
            </tbody>
            </table>
            -->
        </div>
        

        <script src="../../js/jquery-3.3.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>

        <script src="../../js/jobList.js"></script>
    </body>
</html>

